{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
  <div class="grid grid-cols-dc_column justify-center gap-2 md:gap-4 px-4 lg:px-10 mx-4 lg:mx-10 archive">
    {% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}
	</div>
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	{% include 'partial/archive-post-link.twig' %}
{% endblock %}
