<header class="header px-4 lg:px-10 py-2 flex flex-col lg:flex-row lg:items-center lg:justify-between h-12 lg:h-16 mx-4">
	<section class="w-full lg:w-max flex justify-between">
		<h1 class="hdr-logo flex-shrink-0" role="banner">
			<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
		</h1>
		<button class="lg:hidden" id="open-menu">
			<svg xmlns="<http://www.w3.org/2000/svg>" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="TextAlignJustified"><path d="M3 6h18M3 12h18M3 18h18" /></svg>
		</button>

		<!-- Close menu -->
		<button class="hidden" id="close-menu">
			<svg xmlns="<http://www.w3.org/2000/svg>" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" display="block" id="Cross"><path d="M20 20L4 4m16 0L4 20" /></svg>
		</button>				
	</section>
	<nav id="nav-main" class="relative nav-main z-30 lg:z-auto w-full lg:w-max px-0 py-2 flex flex-col lg:flex-row lg:items-center" role="navigation">
		{% include "menu.twig" with {'items': menu.get_items} %}
	</nav><!-- #nav -->
</header>
