{% if archive_link %}
  <div class="px-4 lg:px-10 py-2 mx-4 w-100 flex justify-end">
    <h4 class="text-xl hover:text-purple-500 transition duration-500 ease-in-out"><a href="{{ archive_link }}">Archived {{ title }}<i class="fas fa-long-arrow-alt-right pl-2"></i></a></h4>
  </div>
{% endif %}